if MICRODOX_V2_LEFT

config ZMK_KEYBOARD_NAME
  default "Microdox v2"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
  default y

endif

if MICRODOX_V2_LEFT || MICRODOX_V2_RIGHT

config ZMK_SPLIT
    default y

endif